/Guia 2 - EjerciciosPracticos/nbproject/private/
/Guia 2 - EjerciciosPracticos/build/
/Guia3/nbproject/private/
/Guia3/build/
/Guia 3 - Ejercicios Practicos/nbproject/private/
/Guia 3 - Ejercicios Practicos/build/
/Guia 2/build/
/Guia 2/nbproject/private/